<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- XML 文件头需要从 Mybatis 官网中获取：https://mybatis.org/mybatis-3/zh_CN/getting-started.html  -->
<mapper namespace="com.czm.mapper.EmpMapper">
    <!-- 1、统计员工职位人数 -->
    <select id="countEmpJobData" resultType="java.util.Map">
        select
            (case when job=1 then '班主任'
            when job=2 then '讲师'
            when job=3 then '学工主管'
            when job=4 then '教研主管'
            when job=5 then '咨询师'
            else '其他' end) pos,
            count(*) num
        from emp
            group by job
            order by num;
    </select>

    <!-- 2、统计员工性别人数 -->
    <select id="countEmpGenderData" resultType="java.util.Map">
        select
            if(gender = 1, '男性员工', '女性员工') name,
            count(*) value
        from emp group by gender;
    </select>
</mapper>