<!-- XML 文件头需要从 Mybatis 官网中获取：https://mybatis.org/mybatis-3/zh_CN/getting-started.html  -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--书写Sql语句-->
<mapper namespace="com.czm.mapper.UserMapper">
    <!-- 查询全部数据 -->
    <select id="findList" resultType="com.czm.entity.User">
        select * from user
    </select>
</mapper>