<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- XML 文件头需要从 Mybatis 官网中获取：https://mybatis.org/mybatis-3/zh_CN/getting-started.html  -->
<mapper namespace="com.czm.mapper.EmpMapper">
    <select id="pageOpt" resultType="com.czm.entity.Emp">
    <!--
        select e.*, d.name deptName
        from emp e
                 left join dept d on e.dept_id = d.id
        where e.name like '%#{name}%'
            and e.gender = #{gender}
            and e.entry_date between #{begin} and #{end}
        order by e.update_time desc
    -->
        select e.*, d.name deptName
        from emp e
                 left join dept d on e.dept_id = d.id
        <!--
            <where> 标签的作用
                  自动根据条件判定是否添加 where 关键字；
                  可以去除掉第一个前面多余的 and 或 or；
        -->
        <where>
            <if test="name != null and name != ''">
                e.name like concat('%', #{name}, '%')
            </if>
            <if test="gender != null">
                and e.gender = #{gender}
            </if>
            <if test="begin != null and end != null">
                and e.entry_date between #{begin} and #{end}
            </if>
        </where>
        order by e.update_time desc
    </select>
</mapper>