<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- XML 文件头需要从 Mybatis 官网中获取：https://mybatis.org/mybatis-3/zh_CN/getting-started.html  -->
<mapper namespace="com.czm.mapper.EmpMapper">
    <!-- 新增员工信息
        ⚠️ useGeneratedKeys="true" keyProperty="id"：表示sql执行完毕后，把表的主键ID赋值给实体类 emp
     -->
    <insert id="insertXml" useGeneratedKeys="true" keyProperty="id">
        insert into emp
        values (null,#{username},#{password},#{name},#{gender},#{phone},#{job},#{salary},#{image},#{entryDate},#{deptId},
        #{createTime},#{updateTime})
    </insert>
</mapper>